<?php
    include 'include/navbar.html';
?>
<style>
    body{
        background-image: url("img/bc.gif");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
</style>

<div class='container-fluid'>>
    <div class="row p-3">
        <h1>Home</h1>
    </div>
    <div class="row p-3">
        <div class="col">
            <div class="container shadow-lg rounded m-auto p-5">
                <img src="img/stonks.png" class="img-fluid mx-auto d-block" alt="Stonks" style="max-width: 50%; ">
            </div>
        </div>
    </div>
</div>
</body>

</html>