{% extends 'base.html' %}

{% block content%}


<div class="container">
    <h2>CRUD</h2>
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
            Usuarios
          </a>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                           
                    <h2>Administrar <b>Usuarios </b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodal">Agregar Usuario</button> </h2><br />
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}     
                      {% for message in messages %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="close"> 
                            <span aria-hidden="true">x</span></button>
                            {{message}}
                        </div>
                      {% endfor %}
                           
                      {% endif %}
                    {% endwith %}       
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Correo</th>
                      <th>Contraseña</th>
                      <th>Pais</th>
                      <th>Fecha Registro</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in Usuarios %}
                    <tr>
                      <td> {{row.id}} </td>
                      <td> {{row.nombre}} </td>
                      <td> {{row.apellido}} </td>
                      <td>{{row.correo}}</td>
                      <td>{{row.contraseña}}</td>
                      <td>{{row.pais}}</td>
                      <td>{{row.fecha_registro}}</td>
                      <td>
                        <a href="/api/usuario/update/{{row.id}} " class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit {{row.id}} ">Editar</a>
                        <a href="/api/usuario/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar al Usuario?')">Borrar</a>
                        
                      </td>
                    </tr>       
            <!-- Modal Edit User-->
            <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('update_usuario')}}" method="POST">
                      <input type="hidden" name="id" value="{{row.id}}">
                      <div class="form-group">
                        <label>Nombre:</label>
                          <input type="text" class="form-control" name="nombre" value="{{row.nombre}}">
                      </div>
                      <div class="form-group">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" name="apellido" value="{{row.apellido}}">
                      </div>
                      <div class="form-group">
                        <label>Correo:</label>
                        <input type="email" class="form-control" name="correo" value="{{row.correo}}">
                      </div>
                      <div class="form-group">
                        <label>Contraseña:</label>
                        <input type="text" class="form-control" name="contraseña" value="{{row.contraseña}}">
                      </div>
                      <div class="form-group">
                        <label>Pais:</label>
                        <input type="text" class="form-control" name="pais" value="{{row.pais}}">
                        <input type="hidden" name="fecha_registro" value=" {{row.fecha_registro}}">
                      </div>     
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Usuarios-->
            <div id="mymodal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Usuario</h4>
                    
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crear_usuario')}}" method="POST">
                      <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" name="nombre" required="1">
                      </div>
                      <div class="form-group">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" name="apellido" required="1">
                      </div>
                      <div class="form-group">
                        <label>Correo:</label>
                        <input type="email" class="form-control" name="correo" required="1">
                      </div>
                      <div class="form-group">
                        <label>Contraseña:</label>
                        <input type="text" class="form-control" name="contraseña" required="1">
                      </div>
                      <div class="form-group">
                        <label>Pais:</label>
                        <input type="text" class="form-control" name="pais" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Agregar Usuario</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Pais
        </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                    <h2>Administrar <b>Paises </b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodalpais">Agregar Pais</button> </h2>       
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}     
                      {% for message in messages %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="close"> 
                            <span aria-hidden="true">x</span></button>
                            {{message}}
                        </div>
                      {% endfor %}
                           
                      {% endif %}
                    {% endwith %}
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>Codigo Pais</th>
                      <th>Nombre Pais</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in Paises %}
                    <tr>
                      <td> {{row.cod_pais}} </td>
                      <td> {{row.nombre_pais}} </td>
                      <td>
                        <a href="/api/pais/{{row.cod_pais}}/" class="btn btn-success btn-xs" onclick="return confirm('Estas seguro de editar al Usuario?')">Editar</a>
                        <a href="/api/pais/delete/{{row.cod_pais}}" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar al Usuario?')">Borrar</a>
                      </td>
                    </tr>       
            <!-- Modal Edit Pais-->
            <div id="modaleditpais{{row.cod_pais}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('update_pais')}} " method="POST">
                      <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" name="cod_pais" value="{{row.cod_pais}}">
                      </div>
                      <div class="form-group">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" name="nombre_pais" value="{{row.nombre_pais}}">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Pais-->
            <div id="mymodalpais" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Pais</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crear_pais')}}" method="POST">
                      <div class="form-group">
                        <label>Codigo Pais</label>
                        <input type="text" class="form-control" name="cod_pais" required="1">
                      </div>
                      <div class="form-group">
                        <label>Nombre Pais:</label>
                        <input type="text" class="form-control" name="nombre_pais" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Agregar Pais</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Cuenta Bancaria
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                    <h2>Administrar <b>Cuentas Bancarias </b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodalc_b">Agregar Cuenta Bancaria</button> </h2>       
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>Numero Cuenta</th>
                      <th>ID Usuario</th>
                      <th>Balance:</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in Cuentas_bancarias %}
                    <tr>
                      <td> {{row.numero_cuenta}} </td>
                      <td> {{row.id_usuario}} </td>
                      <td> {{row.balance}} </td>
                      <td>
                        <a href="/api/cuenta_bancaria/update/{{row.numero_cuenta}} " class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaleditc_b {{row.numero_cuenta}} ">Editar</a>
                        <a href="/api/cuenta_bancaria/delete/{{row.numero_cuenta}}" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar al Usuario?')">Borrar</a>
                      </td>
                    </tr>       
            <!-- Modal Edit Employee-->
            <div id="modaleditc_b{{row.numero_cuenta}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('update_pais')}} " method="POST">
                      <div class="form-group">
                        <label>Numero Cuenta:</label>
                        <input type="text" class="form-control" name="cod_pais" value="{{row.numero_cuenta}}">
                      </div>
                      <div class="form-group">
                        <label>Id Usuario:</label>
                        <input type="text" class="form-control" name="nombre_pais" value="{{row.id_usuario}}">
                      </div>
                      <div class="form-group">
                        <label>Balance:</label>
                        <input type="text" class="form-control" name="nombre_pais" value="{{row.balance}}">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Cuenta Bancaria-->
            <div id="mymodalc_b" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Cuenta Bancaria</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crear_cuenta_bancaria')}}" method="POST">
                      <div class="form-group">
                        <label>Numero de Cuenta:</label>
                        <input type="text" class="form-control" name="numero_cuenta" required="1">
                      </div>
                      <div class="form-group">
                        <label>ID Usuario:</label>
                        <input type="text" class="form-control" name="id_usuario" required="1">
                      </div>
                      <div class="form-group">
                        <label>Balance:</label>
                        <input type="text" class="form-control" name="balance" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Agregar Cuenta Bancaria</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
            Usuario Tiene Moneda
          </a>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                    <h2>Administrar <b>Usuarios Tienen Monedas </b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodalutm">Agregar Usuario Tiene Moneda</button> </h2>       
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>ID Usuario</th>
                      <th>ID Moneda</th>
                      <th>Balance</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in Usuario_tiene_moneda %}
                    <tr>
                      <td> {{row.id_usuario}} </td>
                      <td> {{row.id_moneda}} </td>
                      <td> {{row.balance}} </td>
                      <td>
                        <a href="/api/usuario_tiene_moneda/update/{{row.id_usuario}} " class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaleditutm {{row.id_usuario}} ">Editar</a>
                        <a href="/api/usuario_tiene_moneda/delete/{{row.id_usuario}}" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar al Usuario?')">Borrar</a>
                      </td>
                    </tr>       
            <!-- Modal Edit Employee-->
            <div id="modaleditutm{{row.numero_cuenta}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('update_usuario_tiene_moneda')}} " method="POST">
                      <div class="form-group">
                        <label>ID Usuario:</label>
                        <input type="text" class="form-control" name="id_usuario" value="{{row.id_moneda}}">
                      </div>
                      <div class="form-group">
                        <label>ID Moneda:</label>
                        <input type="text" class="form-control" name="id_moneda" value="{{row.id_moneda}}">
                      </div>
                      <div class="form-group">
                        <label>Balance:</label>
                        <input type="text" class="form-control" name="balance" value="{{row.balance}}">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Usuario Tiene Moneda-->
            <div id="mymodalutm" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Usuario tiene Moneda</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crear_usuario_tiene_moneda')}}" method="POST">
                      <div class="form-group">
                        <label>ID Usuario:</label>
                        <input type="text" class="form-control" name="id_usuario" required="1">
                      </div>
                      <div class="form-group">
                        <label>ID Moneda:</label>
                        <input type="text" class="form-control" name="id_moneda" required="1">
                      </div>
                      <div class="form-group">
                        <label>Balance:</label>
                        <input type="text" class="form-control" name="balance" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Agregar Usuario tiene Moenda</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
            
           </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
            Moneda
          </a>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                    <h2>Administrar <b>Monedas </b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodalmonedas">Agregar Monedas</button> </h2>       
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>ID</th>
                      <th>Sigla</th>
                      <th>Nombre</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in Monedas %}
                    <tr>
                      <td> {{row.id}} </td>
                      <td> {{row.sigla}} </td>
                      <td> {{row.nombre}} </td>
                      <td>
                        <a href="/api/moneda/update/{{row.id}} " class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaleditmonedas {{row.id}} ">Editar</a>
                        <a href="/api/moneda/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar la Moneda?')">Borrar</a>
                      </td>
                    </tr>       
            <!-- Modal Edit Employee-->
            <div id="modaleditmonedas{{row.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('update_moneda')}} " method="POST">
                      <div class="form-group">
                        <label>ID:</label>
                        <input type="text" class="form-control" name="id" value="{{row.id}}">
                      </div>
                      <div class="form-group">
                        <label>Sigla :</label>
                        <input type="text" class="form-control" name="sigla" value="{{row.sigla}}">
                      </div>
                      <div class="form-group">
                        <label>Valor :</label>
                        <input type="text" class="form-control" name="nombre" value="{{row.nombre}}">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Moneda-->
            <div id="mymodalmonedas" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Moneda</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crear_moneda')}}" method="POST">
                      <div class="form-group">
                        <label>ID:</label>
                        <input type="text" class="form-control" name="id" required="1">
                      </div>
                      <div class="form-group">
                        <label>Sigla:</label>
                        <input type="text" class="form-control" name="sigla" required="1">
                      </div>
                      <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" name="nombre" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Agregar Moneda</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
            Precio Moneda
          </a>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col md-12">         
                  <div class="jumbotron p-3">
                    <h2>Administrar <b>Precio Monedas </b>  <button type="button"  class="btn btn-success float-right"data-toggle="modal" data-target="#mymodalpm">Agregar Precio Moneda</button> </h2>       
                    <table class="table table-hover table-dark">
                    <tr>
                      <th>ID MONEDA</th>
                      <th>Fecha</th>
                      <th>Valor</th>
                      <th>Acciones</th>
                    </tr>
                    {% for row in Precio_monedas %}
                    <tr>
                      <td> {{row.id_moneda}} </td>
                      <td> {{row.fecha}} </td>
                      <td> {{row.valor}} </td>
                      <td>
                        <a href="/api/precio_moneda/update/{{row.id_moneda}} " class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaleditpm {{row.id_moneda}} ">Editar</a>
                        <a href="/api/precio_moneda/delete/{{row.fecha}}/ {{row.id_moneda}} " class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de borrar al Usuario?')">Borrar</a>
                      </td>
                    </tr>       
            <!-- Modal Edit Employee-->
            <div id="modaleditpm{{row.id_moneda}}" class="modal fade" role="dialog">
              <div class="modal-dialog">       
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Information</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('update_precio_moneda')}} " method="POST">
                      <div class="form-group">
                        <label>ID Moneda:</label>
                        <input type="text" class="form-control" name="id_moneda" value="{{row.id_moneda}}">
                      </div>
                      <div class="form-group">
                        <input type="hidden"  name="fecha" value="{{row.fecha}}">
                      </div>
                      <div class="form-group">
                        <label>Balance:</label>
                        <input type="text" class="form-control" name="valor" value="{{row.valor}}">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>       
            </div>
                          {% endfor %}
                  </table>
                </div>           
            <!--Agregar Precio Moneda-->
            <div id="mymodalpm" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Agregar Precio Moneda</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('crear_precio_moneda')}}" method="POST">
                      <div class="form-group">
                        <label>ID Moneda:</label>
                        <input type="text" class="form-control" name="id_moneda" required="1">
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" name="fecha">
                      </div>
                      <div class="form-group">
                        <label>Valor:</label>
                        <input type="text" class="form-control" name="valor" required="1">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Agregar Precio Moneda</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

<!--Fixeando problemas-->        

<!--Fixeando problemas-->        

<!--Fixeando problemas-->        

{% endblock %}