{% extends 'base.html' %}

{% block content %}
<body background="https://wallpaperaccess.com/full/4716697.jpg">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Home</h1>      
      <p>Welcome to Interfaz for Homework 3</p>
    </div>
</div>
</body>
{% endblock %}