<?php
session_start();
include 'header.html';
error_reporting(E_ERROR | E_WARNING | E_PARSE);
?>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="/index.html">Home</a>

        <ul class="navbar-nav">
            
            <?php
            if ($_SESSION['id']){
                ?>
                <li class="nav-item" id="profileBtn">
                    <a class="nav-link" href="/user/profile.html">Perfil</a>
                </li>
                <?php
                if ($_SESSION['es_admin']){
                    ?>
                    <li class="nav-item" id="userbtn">
                        <a class="nav-link" href="/admin/users/all.html">Usuarios</a>
                    </li>
                    <li class="nav-item" id="userbtn">
                        <a class="nav-link" href="/simulacro/simulacion.html">Simulación</a>
                    </li>
                    <?php
                }else{
                    ?>
                    <li class="nav-item" id="walletbtn">
                        <a class="nav-link" href="/user/wallet.html">Billetera</a>
                    </li>
                <?php
                };
            };
            ?>
            
              
              
        </ul>
        <ul class="navbar-nav ml-auto">
            <?php
            if ($_SESSION['id']){
                ?>
                <li class="nav-item" id="logoutbtn">
                    <a class="nav-link" href="/sesion/logout.php">Cerrar Sesión</a>
                </li>
            <?php
            }else{
                ?>
                <li class="nav-item" id="loginbtn">
                    <a class="nav-link" href="/sesion/log-in.html">Iniciar Sesión</a>
                </li>
                <li class="nav-item" id="singupbtn">
                    <a class="nav-link" href="/sesion/sign-up.html">Registrarse</a>
                </li>
            <?php
            }
            ?>
        </ul>
    </nav>